html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666666;
    background-color: #FFFFFF;
}

/* Formatting our page loading dialog */
.loading {
  position: absolute;
  text-align: center;
  font-size: 100px;
  /* Set size of our div */
  width: 480px;
  height: 150px;
  /* Center div on page */
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -240px;
}

/* Formatting our "page not found" */
.notFoundDialog {
  position: absolute;
  text-align: center;
  width: 1200px; /* Set the size of our div */
  height: 250px;
  top: 50%; /* Center div on page */
  left: 50%;
  margin-top: -125px;
  margin-left: -600px;
}
.nfTitle {
  font-size: 100px;
}
.nfLink {
  font-size: 70px;
}