html, body {
  height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666666;
    background-color: #FFFFFF;
}

/* Make _blaze-root occupy entire page */
body > div {
  height: 100%;
  width: 100%;
}

/* NavBar settings */
.navbar {
  height: 46px;
}
/* Logout button for our navbar */
.logoutButton {
  display: block;
  float: right;
  margin: 8px;
}
#at-nav-button {
  margin: 0;
}
/* Some flavour text*/
.navText {
  text-align: center;
  font-size: 20px;
  height: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Toggle button for our settings panel */
.navbar-toggle {
  display: block; /* Make sure button is leftmost and has right margins */
  float: left;
  margin: 8px;
  margin-left: 15px;
}
.navbar-collapse.collapse {
  display: none !important; /* Make sure button always shows */
}

/* Settings panel settings */
.navmenu, .navmenu-fixed-left {
  z-index: 1;
}

.navmenu > .navmenu-brand {
  margin-top: 30px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
  height: 80px;
  width: 155px;
  font-size: 40px;
}

/* RSS feed settings */
.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

/* Formatting our page loading dialog */
.loading {
  position: absolute;
  text-align: center;
  font-size: 100px;
  /* Set size of our div */
  width: 480px;
  height: 150px;
  /* Center div on page */
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -240px;
}

/**
 * Formatting our "page not found"
 * (manual CSS as we assume client is on desktop)
 */
.nfEmblem {
  font-size: 150px;
  font-family: Georgia;
  position: absolute; /* Position to center of page */
  text-align: center;
  width: 360px;
  height: 206px;
  left: 50%;
  margin-top: 80px;
  margin-left: -180px;

}
.nfDialog {
  position: absolute;
  text-align: center;
  width: 1200px; /* Set the size of our div */
  height: 250px;
  left: 50%;
  margin-top: 360px;
  margin-left: -600px;
}
.nfTitle {
  font-size: 100px;
}
.nfLink {
  font-size: 70px;
}
